label, input, button {
    margin: 10px;
    padding: 5px;
}

.successMessage {
    color: rgb(13, 219, 13);
}

.errorMessage {
    color: rgb(224, 16, 16);
}

footer {
    bottom: 0;
    position: absolute;
    width: 90;
    height: 40px;
}